{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add book</title>
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}">

</head>
<body>
    <div class="container box" style="width: 45%;margin-top: 100px;">
        <form action="{% url 'addbook' %}" method="post">
            {% csrf_token %}
            <p class="is-capitalized has-text-centered">{{success}}{{error}}</p>
            <div class="field">
                <div class="control">
                    <input type="text" class="input" placeholder="book name" name="name">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="text" class="input" placeholder="book edition" name="edition">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="text" class="input" placeholder="book writer" name="writer">
                </div>
            </div>

            <div class="field is-grouped is-grouped-centered">
                <div class="control">
                    <input type="submit" class="button" value="Add">
                </div>

                <div class="control">
                    <a href="{% url 'dashboard' %}" class="is-capitalized button">
                        back
                    </a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>