{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>library</title>
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-7.0.0-web/css/all.min.css' %}">
</head>
<body>
    <header>
        <nav class="navbar has-background-grey is-fixed-top">
            <div class="navbar-brand">
                <figure class="image navbar-item">
                    <img src="{% static 'book.png' %}" alt="image" class="is-rounded">
                </figure>
            </div>
            <div class="navbar-menu is-active">
                <div class="navbar-start is-flex-grow-1 is-justify-content-center">
                    <div class="navbar-item">
                        <p class="has-text-white is-capitalized is-size-5">welcome to library login</p>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="section">
            <div class="container box" style="width:45%;margin-top:200px; border-style:solid;border-color:grey;">
                <p class="has-text-centered has-text-danger is-capitalized">{{error}}</p>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input is-outlined is-grey" placeholder="username" name="username" autocomplete="on">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input type="password" class="input is-outlined is-grey" placeholder="password" name="password">
                        </div>
                    </div>

                    <a href="{% url 'passwordforgot' %}" class="is-dark has-text-link is-outlined"><p>forgot password</p></a>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <input type="submit" class="button is-dark has-text-link is-outlined" value="Login">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>