{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>return list</title>
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}">

</head>
<body>
    <div class="container">
        <table class="table table-container is-bordered is-fullwidth">
            <caption class="caption">
                <p class="is-capitalized">return list</p>
            </caption>

            <thead>
                <tr>
                    <th class="is-capitalized has-text-centered">student name</th>
                    <th class="is-capitalized has-text-centered">faculty</th>
                    <th class="is-capitalized has-text-centered">book name</th>
                    <th class="is-capitalized has-text-centered">gender</th>
                    <th class="is-capitalized has-text-centered">returned date</th>
                    <th class="is-capitalized has-text-centered">operation</th>
                    <th class="is-capitalized has-text-centered">book returned</th>

                </tr>
            </thead>

            <tbody>
                {% for books in books %}
                <tr>
                    <td class="is-capitalized has-text-centered">{{books.student_name}}</td>
                    <td class="is-capitalized has-text-centered">{{books.faculty}}</td>
                    <td class="is-capitalized has-text-centered">{{books.book_name}}</td>
                    <td class="is-capitalized has-text-centered">{{books.gender}}</td>
                    <td class="is-capitalized has-text-centered">{{books.date}}</td>
                    <td class="is-capitalized has-text-centered"><a href="{% url 'deletereturnlist' books.id %}" class="button is-capitalized">remove</a></td>
                    <td class="is-capitalized has-text-centered">{{books.book_return}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'dashboard' %}" class="button">back</a>
    </div>
</body>
</html>